body{
  background-color: #f5f5f5;
}
/* Header */


.bg-header{
  background-color: #000;
  height: 50rem;
}

.encabezado-header{
  color: #fff;
}


.loader span{
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff9;
  animation: 2s animate ease-in-out infinite;
  animation-delay: calc(0.15s * var(--i));
}

@keyframes animate{
  0%{
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }
  20%{
    transform: translateY(-60px);
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 25px #fff,
    0 0 50px #fff;
  }
  40%, 100%{
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }
}

/* About Me */

.card-aboutMe{
  background-color: #f5f5f5;
}

/* portafolio */

.bg-portafolio{
  background-color: #000;
}

.portafolio-img{
  height: 33rem;
}

.icon{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height:45px;
  font-size: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #000;
}

 a .icon {

    color: #262626;
    transition: .5s;
  }

  a:hover .icon {
    color: #fff;
    background-color: #000;
    transform: rotateY(360deg);
  }


@media (min-width: 576px) {
  .loader span{
    font-size: 6rem;
  }
}

@media (min-width: 768px) {
  .loader span{
    font-size: 7rem;
  }
}

@media (min-width: 992px) {
  .loader span{
    font-size: 8rem;
  }
}